@use 'base';

:root {
   --transition-duration: .2s ease;
   --transparent-color: transparernt;
   --active-link:  #f08080;
   --whitesmoke-color: whitesmoke;
   --white-color: #ffffff;
   --light-green: #90ee90;
   --brown-color:#b22222;

   --primary-color: #6979f8;
   --primary-hover: #a5affb;
   --secondary-color: #3cb371;
   --secondary-hover: #008000;
   --info-color: #0084f4;
   --info-hover: #66b5f8;
   --warning-color: #ffa26b;
   --warning-hover: #ffc7a6;
   --danger-color: #ff647c;
   --danger-hover: #fdaFbb;
   --slate-gray: #708090;

   --color: #243746;
   --bg: #f3f5f4;
   --bg-secondary: #ffffff;
   --border-color: #ddd;
 }


 .light-mode {
 }
 .dark-mode {
  --color: #f5f5f5;
  --secondary-color: #fdf9f3;
  --bg: #091A28;
  --bg-secondary: #696969;
  --border-color: #a9A9a9;
  --info-color: #ffe4b5;
 }
 .sepia-mode {
  --color: #433422;
  --secondary-color: #504231;
  --bg: #f1e7d0;
  --bg-secondary: #eae0c9;
  --border-color: #dfd0bf;
  --info-color: #4682b4;
 }




