@use 'base';

:root {
   --transition-duration: .2s ease;
   --transparent-color: transparernt;
   --active-color: #f08080;
   --whitesmoke-color: whitesmoke;
   --light-color: #ffffff;
   --light-green: #90ee90;
   --brown-color:#b22222;
   --dark-golden-rod: #b8860b;
   --deep-sky-blue: #66b5f8;
   --warning-color: #ffa26b;
   --warning-hover: #ffc7a6;
   --danger-color: #ff647c;
   --danger-hover: #fdaFbb;
   --indigo-color: #4b0082;
   --gold-color: #ffd700;
   --dark-golden-road: #b8860b;
   --dark-color: #000000;
   --forest-green: #228b22;

   --color: #243746;
   --bg: #f3f5f4;
   --primary-color: #708090;
   --secondary-color: #ffffff;
   --border-color: #a9A9a9;
 }

 .light-color {
 }

 .dark-mode {
   filter: brightness(88%);
  --color: #f5f5f5;
  --bg: #091A28;
  --secondary-color:#2f4f4f;
  --primary-color: #fdf9f3;
  --light-color: #fdf9f3;
  --border-color: #c0c0c0;
  --info-color: #ffe4b5;
 }
 .sepia-mode {
  --color: #433422;
  --secondary-color: #504231;
  --bg: #f1e7d0;
  --border-color: #dfd0bf;
 }




