:root {
   --font-family2: "RubikBurned";
   --transparent-color: transparernt;
   --main: #000000;
   --active-link:  #f08080;
   --whitesmoke-color: whitesmoke;
   --white-color: #ffffff;
   --light-green: #90ee90;

   --color: #243746;
   --color-primary: #158876;
   --color-secondary: #0e2233;
   --bg: #f3f5f4;
   --bg-secondary: #fff;
   --border-color: #ddd;
 }


body {
   @include adaptiveValue("font-size", 18, 14);
}

h1 {
   @include adaptiveValue("font-size", 26, 20);
   color: var(--light-green);
}

h2 {
   @include adaptiveValue("font-size", 22, 18);
}

h3 {
   @include adaptiveValue("font-size", 20, 16);
}

//*select======================================================================================================================
.select-wrapper {
   position: relative;
   display: flex;
   justify-self: start;
 
 &::before,
   &::after{
      content: '';
      pointer-events: none;
      position: absolute;
      top: toRem(11);
      width: toRem(6);
      height: toRem(2);
      background-color: var(--active-link);
   }
   &::before {
      right: toRem(9);
      transform: rotate(-125deg);
   }
   &::after {
      right: toRem(6);
      transform: rotate(125deg);
   }
 }
 .select {
   width: toRem(54);
   padding-inline: toRem(4);
   padding-block: toRem(3);
   border: 2px solid var(--active-link);
   border-radius: toEm(8, 18);
   font-size: toRem(14);
   outline: none;
   appearance: none;
   cursor: pointer;
   color: var(--active-link);
}
.option {
   border-radius: toRem(8);
   font-size: toRem(14);
  }