@use './mixins' as *;
@use './functions' as *;

body {
   @include adaptiveValue("font-size", 16, 14);
}

h1 {
   color: var(--light-green);
   @include adaptiveValue("font-size", 26, 20);
}

h2 {
   @include adaptiveValue("font-size", 22, 18);
}

h3 {
   @include adaptiveValue("font-size", 18, 16);
}

a,
button,
input,
textarea,
svg * {
   transition-duration: var(--transition-duration);
}

a {
   color: inherit;
   &[class] {
      text-decoration: none;
   }

   @include hover {
      color: var(--warning-hover);
   }

   &:focus-visible {
      outline: toRem(2) dashed var(--warning-color);
      outline-offset: toRem(4);
      transition-duration: 0s !important;
   }
}

.router-link-active {
   color: var(--active-link);
}

button, 
label,
select {
   &:focus-visible {
      outline: toRem(2) solid var(--warning-color);
      outline-offset: toRem(4);
      transition-duration: 0s !important;
   }
}

.iconify {
   font-size: toRem(25);
}

//*select======================================================================================================================
.select-wrapper {
   position: relative;
   display: flex;
   justify-self: start;
 
 &::before,
   &::after{
      content: '';
      pointer-events: none;
      position: absolute;
      top: toRem(9);
      width: toRem(6);
      height: toRem(2);
      background-color: var(--active-link);
   }
   &::before {
      right: toRem(9);
      transform: rotate(-125deg);
   }
   &::after {
      right: toRem(6);
      transform: rotate(125deg);
   }
 }
 .select {
   width: toRem(54);
   padding-inline: toRem(4);
   padding-block: toRem(2);
   border: 2px solid var(--active-link);
   border-radius: toEm(8, 18);
   font-size: toRem(14);
   outline: none;
   appearance: none;
   cursor: pointer;
}
.option {
   border-radius: toRem(8);
   font-size: toRem(14);
  }

  
.visually-hidden {
   position: absolute !important;
   width: 1px !important;
   height: 1px !important;
   margin: -1px !important;
   border: 0 !important;
   padding: 0 !important;
   white-space: nowrap !important;
   clip-path: inset(100%) !important;
   clip: rect(0 0 0 0) !important;
   overflow: hidden !important;
}